<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key></key>
	<string></string>
	<key>Application supports opening documents in place</key>
	<true/>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>com.atakan.DailyTodo.liveactivity.refresh</string>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>dailytodo</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>dailytodo</string>
			</array>
		</dict>
	</array>
	<key>FOCUS_INVITE_SECRET</key>
	<string>dailytodo_focus_invite_2026_x9K2mP7QvL4zN8rT1sY6aB3uH5wC9eF2</string>
	<key>SUPABASE_ANON_KEY</key>
	<string>sb_publishable_lrWcbEx1SkaW3BmIYZ-j5g_iuFRrGhH</string>
	<key>SUPABASE_URL</key>
	<string>https://srzvzaczgydwtopnlrvx.supabase.co</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>remote-notification</string>
	</array>
</dict>
</plist>
